  /* *******************************upper section styles****************************** */
  body {
    margin: 0%;
    padding: 0%;
  }
  #upper {
    background-color: #0398dc;
    width: 100%;
    height: 180px;
    background-color: 1 px solid red;
    padding-bottom: 10px;
  }
  #upper > div {
    height: 170px;
    /* border: 1px solid black; */
    width: 82%;
    margin: auto;
    padding: 0px 20px 0px 20px;
  }
  #b1 {
    height: 20px;
    font-size: 20px;
    line-height: 24px;
    word-spacing: 0px;
    font-family: sans-serif;
    /* border: 1px solid red; */
    width: 99%;
    margin: auto;
    display: flex;
    position: relative;
    padding-top: 10px;
  }
  #b2 {
    /* border: 1px solid red; */
    width: 99%;
    height: 140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100%);
    gap: 10px;
    padding: 8px 0 0 0;
  }
  #b1 > span {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 15.96px;
    text-decoration: none solid rgb(255, 255, 255);
    word-spacing: 0px;
    color: #ffffff;
    min-height: auto;
    min-width: auto;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
    margin-right: 20px;
  }
  #b2 > div {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    word-spacing: 0px;
    color: #48494a;
    position: relative;
    cursor: pointer;
    display: block;
    font-weight: 500;
  }
  .sp1 > span:nth-child(1) {
    font-weight: 700;
    line-height: 20px;
  }
  #smallbox {
    width: 95%;
    height: 92%;
    /* border: 1px solid red; */
    margin: 5px;
  }
  .sp1 {
    /* border: 1px solid red; */
    height: 23px;
    width: 95%;
    margin: auto;
  }
  .sp2 > img {
    height: 25px;
    margin-right: 10px;
  }
  .sp2 {
    display: flex;
    /* border: 1px solid red; */
    height: 23px;
    width: 95%;
    margin: auto;
  }
  .sp2 > P {
    font-size: 10px;
    font-weight: 700;
  }
  .sp2 > span {
    font-weight: 700;
    line-height: 20px;
    font-size: 12px;
    margin-right: 10px;
  }

  /* ******************************navbar section styles****************************************** */
  #navbar {
    height: 48px;
    background-color: #03a9f4;
    width: 100%;
    display: flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    text-decoration: none solid rgb(72, 73, 74);
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    font-weight: 700;
  }
  #nav_b1 {
    /* border: 1px solid black; */
    display: flex;
    width: 138px;
    margin: 0 40px 0 0;
    min-height: auto;
    min-width: auto;
    height: 48px;
    margin: 0 100px 0 120px;
  }
  #navbar div > img {
    width: 138px;
    height: 25px;
    vertical-align: middle;
    /* border: 1px solid red; */
    margin-top: 10px;
    cursor: pointer;
  }
  #nav_b2 {
    /* border: 1px solid black; */
    height: 48px;
    width: 1070px;
    display: flex;
  }
  #navbar > div {
    /* border: 1px solid black; */
    display: flex;
  }
  #nav_b2 > a {
    padding: 12px 12px 0 12px;
    display: flex;
    color: #ffffff;
  }
  #nav_b2 > div {
    /* border: 1px solid red; */
    width: 10px;
    height: 39px;
    color: #ffffff;
    margin: auto;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
  }

  /* *******************************bottom section styles***************************************** */
  #parent {
    width: 1280px;
    /* border: 1px solid blueviolet; */
    margin: auto;
    height: 5305px;
    cursor: pointer;
  }
  #add {
    width: 95%;
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  #info {
    width: 95%;
    /* border: 1px solid red; */
    margin: auto;
    height: 5020px;
    display: flex;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #info > div > div {
    margin-bottom: 20px;
  }
  #info > div:nth-child(1) {
    width: 264px;
    /* height: 4715px; */
    /* border: 1px solid purple; */
    
  }
  #info > div:nth-child(2) {
    width: 636px;
    /* height: 4715px; */
    /* border: 1px solid green; */
  }
  #info > div:nth-child(3) {
    width: 282px;
    /* border: 1px solid blue; */
  }
  #first > div:nth-child(1) {
    height: 242px;
    border: 1px solid #edeef0;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }
  #first > div:nth-child(2) {
    height: 380px;
    border: 1px solid #edeef0;
    font-size: 18px;
    line-height: 15px;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }
  #first > div:nth-child(3) {
    height: 200px;
    border: 1px solid #edeef0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }
  #first > div:nth-child(4) {
    height: 116px;
    border: 1px solid #edeef0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }
  #first > div:nth-child(5) {
    height: 172px;
    border: 1px solid #edeef0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }
  #first > div:nth-child(6) {
    height: 116px;
    border: 1px solid #edeef0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }

  #first > div > img {
    height: 63px;
    width: 135px;
    margin: 15px 0 15px 0;
    border: 1px solid green;
  }

  #first > div > section {
    height: 30px;
    width: 190px;
    margin: 10px 15px;
    border: 1px solid #03a9f4;
    padding: 10px 20px 0 20px;
    color: #03a9f4;
    line-height: 24px;
    border-radius: 20px;
  }
  #first>div>section:hover{
    background-color: #76d9f2;
    color: #0389c7;
    font-weight: 700;
    
  }
  #first>div>ul>li:hover{
    background-color: #70c4d9;
  }
  /* ********************************************* */
  #first > div:nth-child(2) > span {
    margin-left: 20px;
    line-height: 16px;
    font-weight: 700;
  }
  #first > div:nth-child(2) > ul > li {
    margin-bottom: 8px;
    font-size: 16px;
  }
  #info > div > div:nth-child(2) > ul > li > i {
    color: #03a9f4;
    margin-right: 10px;
  }
  /* ********************************************* */
  #first > div:nth-child(3) > span {
    margin-left: 20px;
    line-height: 16px;
    font-weight: 700;
  }
  #first > div:nth-child(3) > ul > li {
    margin-bottom: 8px;
    font-size: 16px;
  }
  #first > div:nth-child(3) > ul > li > i {
    color: #03a9f4;
    margin-right: 10px;
  }
  /* ********************************************* */
  #first > div:nth-child(4) > span {
    margin-left: 20px;
    line-height: 16px;
    font-weight: 700;
  }
  #first > div:nth-child(4) > ul > li {
    margin-bottom: 8px;
    font-size: 16px;
  }
  #first > div:nth-child(4) > ul > li > i {
    color: #03a9f4;
    margin-right: 10px;
  }
  /* ********************************************* */
  #first > div:nth-child(5) > span {
    margin-left: 20px;
    line-height: 16px;
    font-weight: 700;
  }
  #first > div:nth-child(5) > ul > li {
    margin-bottom: 8px;
    font-size: 16px;
  }
  #first > div:nth-child(5) > ul > li > i {
    color: #03a9f4;
    margin-right: 10px;
  }
  /* ********************************************* */
  #first > div:nth-child(6) > span {
    margin-left: 20px;
    line-height: 16px;
    font-weight: 700;
  }
  #first > div:nth-child(6) > ul > li {
    margin-bottom: 8px;
    font-size: 16px;
  }
  #first > div:nth-child(6) > ul > li > i {
    color: #03a9f4;
    margin-right: 10px;
  }
  #middle > div {
    height: 480px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
  }
  #middle > div > img {
    width: 620px;
    border-radius: 20px;
    margin: 0 0 -10px 0;
  }
  #middle>div>img:hover{
    transform: scale(0.9); 
  }
  #middle > div > h1 {
    font-size: 23px;
    margin-bottom: -10px;
  }
  #middle > div > p {
    line-height: 24px;
    font-size: 20px;
  }
  #middle > div:nth-child(3) {
    height: 500px;
  }
  h4 {
    margin: 0 0 10px 15px;
  }

  #last > div {
    height: 211px;
    border: 1px solid #edeef0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    margin: auto;
  }
  #last > div > img {
    height: 150px;
    border-radius: 10px;
    width: 260px;
    
  }
  #last>div>img:hover{
    transform: scale(0.9); 
  }
  #last > div:first-child {
    height: 230px;
    border: 1px solid #edeef0;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }
  #last > div:first-child > span {
    margin-left: 10px;
    line-height: 16px;
    font-weight: 700;
  }
  #last > div:first-child > ul > li {
    margin-bottom: 8px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    word-spacing: 0px;
    text-align: left;
  }
  #last > div:first-child > ul > li > i {
    color: #03a9f4;
    margin-right: 5px;
    margin-left: -20px;
  }
  #last > div:nth-child(2) {
    height: 600px;
    border: 1px solid #edeef0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
  }
  #last > div:nth-child(2) > img {
    width: 282px;
    height: 600px;
  }
  /* ********************************footer section style************************************ */
  #foot{
    height: 550px;
    /* border: 1px solid red; */
    width: 1260px;
    margin: auto;
    display: flex;
    font-family: sans-serif;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #edeef0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    background-color: white;
     
  }
  #foot>div{
    /* border: 1px solid black; */
    margin: auto;
    line-height: 24px;
    height: 530px;
  }
  #foot>div>h1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  #foot li{
    margin-left: -38px;
    line-height: 35px
  }
