/* *******************************upper section styles****************************** */
body {
    margin: 0%;
    padding: 0%;
  }
  #upper {
    background-color: #0398dc;
    width: 100%;
    height: 180px;
    background-color: 1 px solid red;
    padding-bottom: 10px;
  }
  #upper > div {
    height: 170px;
    /* border: 1px solid black; */
    width: 82%;
    margin: auto;
    padding: 0px 20px 0px 20px;
  }
  #b1 {
    height: 20px;
    font-size: 20px;
    line-height: 24px;
    word-spacing: 0px;
    font-family: sans-serif;
    /* border: 1px solid red; */
    width: 99%;
    margin: auto;
    display: flex;
    position: relative;
    padding-top: 10px;
  }
  #b2 {
    /* border: 1px solid red; */
    width: 99%;
    height: 140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100%);
    gap: 10px;
    padding: 8px 0 0 0;
  }
  #b1 > span {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 15.96px;
    text-decoration: none solid rgb(255, 255, 255);
    word-spacing: 0px;
    color: #ffffff;
    min-height: auto;
    min-width: auto;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
    margin-right: 20px;
  }
  #b2 > div {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    word-spacing: 0px;
    color: #48494a;
    position: relative;
    cursor: pointer;
    display: block;
    font-weight: 500;
  }
  .sp1 > span:nth-child(1) {
    font-weight: 700;
    line-height: 20px;
  }
  #smallbox {
    width: 95%;
    height: 92%;
    /* border: 1px solid red; */
    margin: 5px;
  }
  .sp1 {
    /* border: 1px solid red; */
    height: 23px;
    width: 95%;
    margin: auto;
  }
  .sp2 > img {
    height: 25px;
    margin-right: 10px;
  }
  .sp2 {
    display: flex;
    /* border: 1px solid red; */
    height: 23px;
    width: 95%;
    margin: auto;
  }
  .sp2 > P {
    font-size: 10px;
    font-weight: 700;
  }
  .sp2 > span {
    font-weight: 700;
    line-height: 20px;
    font-size: 12px;
    margin-right: 10px;
  }

  
  /* ******************************navbar section styles****************************************** */
  #navbar {
    height: 48px;
    background-color: #03a9f4;
    width: 100%;
    display: flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    text-decoration: none solid rgb(72, 73, 74);
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    font-weight: 700;
    /* background-color: var(--body-color);
    color: var(--text-color); */
  }
  #nav_b1 {
    /* border: 1px solid black; */
    display: flex;
    width: 138px;
    margin: 0 40px 0 0;
    min-height: auto;
    min-width: auto;
    height: 48px;
    margin: 0 100px 0 120px;
  }
  #nav_b1>a>img{
    height: 25px;
    width: 90%;
    margin-top: 10px;
  }
  #navbar div > img {
    width: 138px;
    height: 25px;
    vertical-align: middle;
    /* border: 1px solid red; */
    margin-top: 10px;
    cursor: pointer;
  }
  #nav_b2 {
    /* border: 1px solid black; */
    height: 48px;
    width: 1070px;
    display: flex;
  }
  #navbar > div {
    /* border: 1px solid black; */
    display: flex;
  }
  #nav_b2 > a {
    padding: 12px 12px 0 12px;
    display: flex;
    color: #ffffff;
    text-decoration: none;
  }
  #nav_b2>button>i{
    color: #ffffff;
  }
  #nav_b2>a:hover{
    background-color: #0398dc;;
  }
  #nav_b2 > div {
    /* border: 1px solid red; */
    width: 40px;
    height: 39px;
    color: #ffffff;
    margin: auto;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
  }
  #nav_b2>div:hover{
    background-color: #0398dc;;
  }
  
  

  /* *******************************bottom section styles***************************************** */
  #parent {
    width: 1280px;
    /* border: 1px solid blueviolet; */
    margin: auto;
    height: 1761px;
    cursor: pointer;
  }
  #add {
    width: 95%;
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  /* *********************teams************************************ */
  /* first container */
  #box1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  }
 #box1>div{
  /* border:  1px solid black; */
  display: flex;
  height: 97px;
  border: 1px solid #f1eeee;
 }

#box1>div>img{
  /* border: 1px solid ; */
  height: 48px;
  width: 48px;
  display: block;
  text-align: center;
  margin: 20px;
}
#box1 h2{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 30px -5px;
  font-family: sans-serif;

}
#parent>h1{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: sans-serif;
  margin-left: 20px;

}

/* second container */
#box2{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  /* border: 1px solid red; */
  border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
#box2>div{
/* border:  1px solid black; */
display: flex;
height: 97px;
border: 1px solid #f1eeee;
}

#box2>div>img{
/* border: 1px solid ; */
height: 48px;
width: 48px;
display: block;
text-align: center;
margin: 20px;
}
#box2 h2{
font-size: 16px;
font-weight: 700;
line-height: 22px;
margin: 30px -5px;
font-family: sans-serif;

}
#parent>h1{
font-size: 16px;
line-height: 24px;
font-weight: 700;
font-family: sans-serif;
margin-left: 20px;
margin-top: 30px;

}


/* second container */
#box3{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  /* border: 1px solid red; */
  border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
#box3>div{
/* border:  1px solid black; */
display: flex;
height: 97px;
border: 1px solid #f1eeee;
}

#box3>div>img{
/* border: 1px solid ; */
height: 48px;
width: 48px;
display: block;
text-align: center;
margin: 20px;
}
#box3 h2{
font-size: 16px;
font-weight: 700;
line-height: 22px;
margin: 30px -5px;
font-family: sans-serif;

}
#parent>h1{
font-size: 16px;
line-height: 24px;
font-weight: 700;
font-family: sans-serif;
margin-left: 20px;
margin-top: 30px;

}

/* //footer */
#foot{
  height: 56px;
  /* border: 1px solid red; */
  padding: 20px 120px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* * * dark-theme styles */ */
:root{
  --hue : 256;
  --sat : 66%;
  --lig : 75%;

  --text-color : hsl(var(var(--hue)), 12% , 15%)
  --body-color : hsl(var(var(--hue)), 8% , 92%)
  --container-color : red;
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
  /* transition: 0.3s all ease-in-out; */
  /* overflow: hidden; */

}

button{
  outline: none;
  border: none;
  background-color: transparent;
}
.change-theme{
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}
body.dark-theme{
  --text-color :hsl(var(--hue), 12%, 95%);
  --body-color :hsl(var(--hue), 40%, 8%);
  --container-color :hsl(var(--hue), 24%, 12%);
}